/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* UTILITIES */

.flex {
    display: flex;
}

.inline{
    display: inline;
}


.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.alignitems-center {
    align-items: center;
}

.alignitems-start {
    align-items: start;
}

.space-btw {
    justify-content: space-between;
}

.space-ard {
    justify-content: space-around;
}

.row-dir {
    flex-direction: row;
}

.col-dir {
    flex-direction: column;
}

.txt-align-center {
    text-align: center;
}

.btn-blue {
    color: white;
    padding: 10px;
    background-color: #0260fd;
}

.margin-tb-btn {
    margin: 20px 0;
}


/* LAYOUT */

.col-30 {
    width: 30%;
    /* debug */
}

.col-70 {
    width: 70%;
    
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.pt-70 {
    padding-top: 70px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.position-rel {
    position: relative;
}


.margin-t-100 {
    margin-top: 100px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.background {
    padding: 100px 0;
    width: 100%;
    background-color: #b4d0e7;
}

footer ul li:first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}

li {
    margin: 10px 20px;
}


/* HEADER */
header {
    background-color: white;
    width: 100%;
}

header ul li img {
    height: 40px;
}

/* HERO */

.img-hero {
    position: absolute;
    left: 20px;
    top: 0px;
}

.arrow-hero {
    padding-top: 70px;
    padding-bottom: 10px;
    font-size: 2.5rem;
}

/* MAIN */

.hr-mini {
    width: 40px;
    margin-left: 20px;
}

.title-h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem
}


main h1 {
    font-size: 4rem;
    font-weight: 1000;
}

.hero {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #b4d0e7;
}

.title-box {
    margin: 20px;
    width: 80%;
}

.buttom-pack {
    color: white;
    margin: 20px 0;
    padding: 10px;
    background-color: #0260fd;
    text-align: center;
}

.container-large {
    max-width: 1200px;
    margin: 0 auto;
    width: 65%;
}

.container {
    width: 50%;
}


.box-col {
    border: 1px solid;
    border-color: lightgray;
}


.layout-big {
    width: 60%;
    /* debug */
    height: 200px;
    background-color: yellow;
}

.layout-small {
    flex-direction: column;
    width: 40%;
    /* debug */
    height: 200px;
}

.container-loghi {
    width: 100%;
}

.box1 {
    height: 400px;
    width: calc(100%/3);
    /* debug */
    background-color: blue;
}

.box2 {
    height: 400px;
    min-width: calc(100%/3);
    /* debug */
    background-color: blue;
}

.Question {
    height: 400px;
    background-color: blueviolet;
}

/* FOOTER */

footer {
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.container-footer {
    width: 60%;
    /* debug */
}
